<div id="app-container">
  <div id="sidebar">
    <app-sidebar (onToggleDrawer)="toggleDrawer($event)"></app-sidebar>
  </div>

  <div id="main-container" style="overflow-y: auto">
    <div id="content">
      <mat-drawer-container id="drawer-container" (backdropClick)="resetActiveName()">
        <mat-drawer
          #drawer
          mode="over"
          class="drawer"
        >
          @if (activeDrawer == 'Search') {
            <app-search></app-search>
          }
          @if (activeDrawer == 'Notifications') {
            <app-notifications></app-notifications>
          }
        </mat-drawer>


        <mat-drawer-content id="drawer-content">
          <div id="content-routing">
            <router-outlet></router-outlet>
          </div>
        </mat-drawer-content>
      </mat-drawer-container>
    </div>
  </div>
</div>
