<div class="container">
  <h4>Templates</h4>
  <div class="board-list">
    <div class="board">
      <p>House Work</p>
      <mat-icon aria-hidden="false" aria-label="Example more_vert icon" fontIcon="more_vert"></mat-icon>
    </div>
    <div class="create-board">
      <p>Create New Board</p>
    </div>
  </div>
  <h4>My Board</h4>
  <div class="board-list">
    <div class="board">
      <p>House Word</p>
      <mat-icon aria-hidden="false" aria-label="Example more_vert icon" fontIcon="more_vert"></mat-icon>
    </div>
  </div>
</div>
