* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.sidebar {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--md-sys-color-tertiary-container);

  .logo {
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    gap: 8px;
    padding-bottom: 16px;
  }

  .btn-create {
    font-size: 16px;
    width: 90%;
    height: 45px;
    background-color: var(--md-sys-color-primary) !important;
    color: var(--md-sys-color-on-primary) !important;

    &:hover {
      background-color: var(--md-sys-color-primary-container) !important;
      color: var(--md-sys-color-on-primary-container) !important;
    }

    &:active {
      background-color: var(--md-sys-color-secondary) !important;
      color: var(--md-sys-color-on-secondary) !important;
    }
  }

  div {
    width: 90%;
  }

  .section-title {
    width: 90%;
    font-size: 14px;
    font-weight: bold;
    margin: 8px 0 0 0;
    color: var(--md-sys-color-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  mat-selection-list {
    width: 90%;
  }

  mat-list-item {
    cursor: pointer;
    padding: 10px 12px;
    border-radius: 100px;

    &:hover {
      background-color: var(--md-sys-color-secondary-container);
    }

    .background {
      border-radius: 4px;
      width: 30px;
      height: 20px;
      margin-right: 8px;
    }

    ::ng-deep.mat-mdc-list-item-unscoped-content.mdc-list-item__primary-text {
      display: flex;
      align-items: center;
      height: 45px;
    }

    mat-icon {
      margin-right: 8px;
    }
  }

  .profile {
    text-align: center;
    display: flex;
    gap: 8px;
    position: absolute;
    bottom: 0;
    padding: 8px;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }

    .info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      p {
        font-weight: bold;
        margin: 0;
      }

      span {
        font-size: 12px;
        color: var(--md-sys-color-outline);
      }
    }
  }
}
