@use 'sass:map';
@use '@angular/material' as mat;
@use "./app/styles/m3-theme" as m3-theme;

@include mat.core();

$_palettes: (
  primary: (
    0: #000000,
    10: #19124a,
    20: #2f2960,
    25: #3a346b,
    30: #453f78,
    35: #514b84,
    40: #5d5791,
    50: #7670ac,
    60: #908ac7,
    70: #aba4e4,
    80: #c7bfff,
    90: #e4dfff,
    95: #f3eeff,
    98: #fcf8ff,
    99: #fffbff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #1b1a26,
    20: #302f3c,
    25: #3b3a47,
    30: #474553,
    35: #53515f,
    40: #5f5d6b,
    50: #787585,
    60: #928f9f,
    70: #aca9ba,
    80: #c8c4d5,
    90: #e4e0f2,
    95: #f3eeff,
    98: #fcf8ff,
    99: #fffbff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #2b1420,
    20: #422935,
    25: #4f3340,
    30: #5b3f4c,
    35: #684a57,
    40: #745663,
    50: #8f6e7c,
    60: #aa8796,
    70: #c6a1b1,
    80: #e3bccc,
    90: #ffd8e8,
    95: #ffecf2,
    98: #fff8f8,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    4: #0b0b0c,
    6: #111012,
    10: #1c1b1e,
    12: #201f22,
    17: #2b2a2d,
    20: #313033,
    22: #353437,
    24: #3a393c,
    25: #3c3b3e,
    30: #474649,
    35: #535255,
    40: #5f5e61,
    50: #787679,
    60: #929093,
    70: #adaaad,
    80: #c8c5c9,
    87: #dcd9dd,
    90: #e5e1e5,
    92: #ebe7eb,
    94: #f0edf0,
    95: #f3f0f3,
    96: #f6f3f6,
    98: #fcf8fb,
    99: #fffbfe,
    100: #ffffff,
  ),
  neutral-variant: (
    0: #000000,
    10: #1c1b23,
    20: #312f38,
    25: #3c3a44,
    30: #47454f,
    35: #53515b,
    40: #5f5d67,
    50: #787680,
    60: #928f9a,
    70: #ada9b5,
    80: #c9c5d0,
    90: #e5e0ed,
    95: #f3effb,
    98: #fcf8ff,
    99: #fffbff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes,  neutral-variant),
  error: map.get($_palettes, error),
);
$_primary: map.merge(map.get($_palettes, primary), $_rest);
$_tertiary: map.merge(map.get($_palettes, tertiary), $_rest);

$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: $_primary,
    tertiary: $_tertiary,
    use-system-variables: true,
  ),
  typography: (
    use-system-variables: true,
  ),
));
$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: $_primary,
    tertiary: $_tertiary,
    use-system-variables: true,
  ),
  typography: (
    use-system-variables: true,
  ),
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  // Light Theme
  .light-theme {
    --md-sys-color-primary: #322386;
    --md-sys-color-on-primary: #FFFFFF;
    --md-sys-color-primary-container: #493D9E;
    --md-sys-color-on-primary-container: #BCB4FF;
    --md-sys-color-surface-tint: #5C50B2;
    --md-sys-color-secondary: #5F52A6;
    --md-sys-color-on-secondary: #FFFFFF;
    --md-sys-color-secondary-container: #B2A5FF;
    --md-sys-color-on-secondary-container: #433688;
    --md-sys-color-tertiary: #5F5A80;
    --md-sys-color-on-tertiary: #FFFFFF;
    --md-sys-color-tertiary-container: #DAD2FF;
    --md-sys-color-on-tertiary-container: #5E597F;
    --md-sys-color-error: #BA1A1A;
    --md-sys-color-on-error: #FFFFFF;
    --md-sys-color-error-container: #FFDAD6;
    --md-sys-color-on-error-container: #93000A;
    --md-sys-color-background: #FCF8FF;
    --md-sys-color-on-background: #1C1B21;
    --md-sys-color-surface: #FCF8FF;
    --md-sys-color-on-surface: #1C1B21;
    --md-sys-color-surface-variant: #E5E0F0;
    --md-sys-color-on-surface-variant: #474552;
    --md-sys-color-outline: #787583;
    --md-sys-color-outline-variant: #C9C4D4;
    --md-sys-color-shadow: #000000;
    --md-sys-color-scrim: #000000;
    --md-sys-color-inverse-surface: #312F36;
    --md-sys-color-inverse-on-surface: #F4EFF8;
    --md-sys-color-inverse-primary: #C7BFFF;
    --md-sys-color-primary-fixed: #E4DFFF;
    --md-sys-color-on-primary-fixed: #170065;
    --md-sys-color-primary-fixed-dim: #C7BFFF;
    --md-sys-color-on-primary-fixed-variant: #443798;
    --md-sys-color-secondary-fixed: #E5DEFF;
    --md-sys-color-on-secondary-fixed: #1A0360;
    --md-sys-color-secondary-fixed-dim: #C9BFFF;
    --md-sys-color-on-secondary-fixed-variant: #473A8C;
    --md-sys-color-tertiary-fixed: #E5DEFF;
    --md-sys-color-on-tertiary-fixed: #1C1739;
    --md-sys-color-tertiary-fixed-dim: #C9C1ED;
    --md-sys-color-on-tertiary-fixed-variant: #474267;
    --md-sys-color-surface-dim: #DDD8E1;
    --md-sys-color-surface-bright: #FCF8FF;
    --md-sys-color-surface-container-lowest: #FFFFFF;
    --md-sys-color-surface-container-low: #F6F2FB;
    --md-sys-color-surface-container: #F1ECF5;
    --md-sys-color-surface-container-high: #EBE6EF;
    --md-sys-color-surface-container-highest: #E5E1EA;
  };

  .dark-theme {
    --md-sys-color-primary: #C7BFFF;
    --md-sys-color-on-primary: #2F295F;
    --md-sys-color-primary-container: #464077;
    --md-sys-color-on-primary-container: #E4DFFF;
    --md-sys-color-secondary: #C9BFFF;
    --md-sys-color-on-secondary: #30285F;
    --md-sys-color-secondary-container: #473F77;
    --md-sys-color-on-secondary-container: #E5DEFF;
    --md-sys-color-tertiary: #C9BFFF;
    --md-sys-color-on-tertiary: #30285F;
    --md-sys-color-tertiary-container: #473F77;
    --md-sys-color-on-tertiary-container: #E5DEFF;
    --md-sys-color-error: #FFB4AB;
    --md-sys-color-on-error: #690005;
    --md-sys-color-error-container: #93000A;
    --md-sys-color-on-error-container: #FFDAD6;
    --md-sys-color-background: #141318;
    --md-sys-color-on-background: #E5E1E9;
    --md-sys-color-surface: #141318;
    --md-sys-color-on-surface: #E5E1E9;
    --md-sys-color-surface-variant: #47464F;
    --md-sys-color-on-surface-variant: #C9C5D0;
    --md-sys-color-outline: #928F99;
    --md-sys-color-outline-variant: #47464F;
    --md-sys-color-shadow: #000000;
    --md-sys-color-scrim: #000000;
    --md-sys-color-inverse-surface: #E5E1E9;
    --md-sys-color-inverse-on-surface: #313036;
    --md-sys-color-inverse-primary: #5D5791;
    --md-sys-color-primary-fixed: #E4DFFF;
    --md-sys-color-on-primary-fixed: #1A1249;
    --md-sys-color-primary-fixed-dim: #C7BFFF;
    --md-sys-color-on-primary-fixed-variant: #464077;
    --md-sys-color-secondary-fixed: #E5DEFF;
    --md-sys-color-on-secondary-fixed: #1B1149;
    --md-sys-color-secondary-fixed-dim: #C9BFFF;
    --md-sys-color-on-secondary-fixed-variant: #473F77;
    --md-sys-color-tertiary-fixed: #E5DEFF;
    --md-sys-color-on-tertiary-fixed: #1B1149;
    --md-sys-color-tertiary-fixed-dim: #C9BFFF;
    --md-sys-color-on-tertiary-fixed-variant: #473F77;
    --md-sys-color-surface-tint: #C7BFFF;
    --md-sys-color-surface-dim: #141318;
    --md-sys-color-surface-bright: #3A383E;
    --md-sys-color-surface-container-lowest: #0E0E13;
    --md-sys-color-surface-container-low: #1C1B20;
    --md-sys-color-surface-container: #201F25;
    --md-sys-color-surface-container-high: #2A292F;
    --md-sys-color-surface-container-highest: #35343A;
}
}

body.light-theme {
  @include mat.all-component-themes($light-theme);
}

body.dark-theme {
  @include mat.all-component-themes($dark-theme);
}


html {
  // Apply the light theme by default
  @include mat.all-component-themes($light-theme  );
  @include mat.core-theme($light-theme);
  @include mat.button-theme(m3-theme.$light-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($donezo_frontend-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($donezo_frontend-theme);
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
